<div class="attributes-container">
      <h2>ویژگی‌های {{ node?.label }}</h2>
      <button (click)="goBack()" class="back-btn">بازگشت</button>
      @if (node?.data.attributes?.length) {
        @for (attr of node?.data.attributes; track attr.id) {
          <div class="attribute-item">
            {{ attr.attributeName }} ({{ attr.attributeType }})
            @if (attr.inherited) {
              <span>(ارث‌بری‌شده)</span>
            }
            @if (attr.required) {
              <span>(اجباری)</span>
            }
          </div>
        }
      } @else {
        <div class="no-attributes">هیچ ویژگی‌ای وجود ندارد</div>
      }
    </div>