<div  class="p-fluid p-formgrid p-grid" style="max-width: 300px;">
  <div class="p-field p-col-12">
    <label for="phone">شماره تلفن</label>
    <p-inputMask
      dir="ltr"
      id="phone"
      mask="0999 999 9999"
      placeholder="0912 345 6789"
      [(ngModel)]="phone"
      (onBlur)="validatePhone()"
    ></p-inputMask>

    @if(!phoneValid){
      <p  class="p-error">لطفاً شماره تلفن را کامل وارد کنید.</p>
    }
  </div>

  <div class="p-field p-col-12">
    <p>📞 مقدار ذخیره شده: {{ phone }}</p>
  </div>
</div>
