
<div>
  <div class="container row">
    @for(product of productsQuery.data() ?? []; track product.id) {
      @if (product) {
        <p-card class="product-card">
          <p-carousel
          [value]="product.media.length ? product.media : [{ url: 'assets/default-product.jpg', type: 'image' }]"
          [numVisible]="1"
          [numScroll]="1"
          [circular]="true"
          [autoplayInterval]="3000"
          styleClass="custom-carousel"
        >
          <ng-template pTemplate="item" let-media>
            <ng-container>
              @if (isVideo(media.url)) {
                <video
                  [src]="media.url"
                  class="card-media"
                  style="width: 100%; height: 200px; object-fit: cover; border-radius: 5px"
                  controls
                ></video>
              }
              @else {
                <img
                  [src]="media.url"
                  alt="{{ product.title }}"
                  class="card-media"
                  style="width: 100%; height: 200px; object-fit: cover; border-radius: 5px"
                />
              }
            </ng-container>
          </ng-template>
        </p-carousel>
          <ng-template #title>{{ product.title }}</ng-template>
          <ng-template #subtitle>{{ product.categoryName }}</ng-template>

          <p>توضیحات: {{ product.description || "-" }}</p>
          <p>قیمت: {{ product.price | number }}</p>
          <p>موجودی: {{ product.stock }}</p>

          <ng-template #footer>
            <div class="row">
              <p-button
                label="خرید"
                class="col-md-3"
                (click)="buyProduct(product.id)"
                [disabled]="product.stock <= 0"
              ></p-button>
            </div>
          </ng-template>
        </p-card>
      }
    }
  </div>
</div>
